@model LuyenThi.Models.DonHang

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Ban co chac muon xoa khong?</h3>
<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDonHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDonHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDatHang)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaDonHang" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
